<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AuthManager" value="DefaultAuthManager"/>
    <add key="AuthDataSource" value="127.0.0.1,1433"/>
    <add key="AuthInitialCatalog" value="pharmacy"/>
    <!-- См. Примечание [12] -->
    <add key="AuthUser" value="SA"/>
    <add key="AuthPassword" value="P@ssword"/>

    <add key="ProductManager" value="DefaultProductManager"/>
    <add key="ProductManagerDataSource" value="127.0.0.1,1433"/>
    <add key="ProductManagerInitialCatalog" value="pharmacy"/>

    <add key="Stockman" value="DefaultStockman"/>
    <add key="StockmanDataSource" value="127.0.0.1,1433"/>
    <add key="StockmanInitialCatalog" value="pharmacy"/>

    <add key="PharmacyManager" value="DefaultPharmacyManager"/>
    <add key="PharmacyManagerDataSource" value="127.0.0.1,1433"/>
    <add key="PharmacyManagerInitialCatalog" value="pharmacy"/>

    <add key="Pharmacist" value="DefaultPharmacist"/>
    <add key="PharmacistDataSource" value="127.0.0.1,1433"/>
    <add key="PharmacistInitialCatalog" value="pharmacy"/>

    <add key="Root" value="DefaultRoot"/>
    <add key="RootDataSource" value="127.0.0.1,1433"/>
    <add key="RootInitialCatalog" value="pharmacy"/>
    <add key="RootUser" value="SA"/>
    <add key="RootPassword" value="P@ssword"/>

    <add key="measureUnits" value="g,kg,u,ml,l,mm3"/>
  </appSettings>
</configuration>