<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TestDataSource" value="127.0.0.1,1433"/>
    <add key="TestInitialCatalog" value="pharmacy"/>
    <add key="TestUser" value="SA"/>
    <add key="TestPassword" value="P@ssword"/>
  </appSettings>
</configuration>